.jumbotron {
    background-image: url(/images/adult-beautiful-black-and-white-camera-302355.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.726) !important;
    background-blend-mode: multiply;
    color: #ffb800;
}

.hero-button {
    background-color: #ffb800;
    color: white;
}

.view-gallery{
    border: none;
    background-color: black;
    color: white;
    position: relative;
    bottom: 17em;
    left: 30em;
}

.container-fluid.promo-banner {
    background-image: url(/images/Rectangle\ 20.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}

.testimonial {
    background-color: #ffb800;
}

a.nav-link {
    color: black;
}

.icon-color {
    color: #ffb800;
}

ul .mr-3 a i {
    font-size: 35px;
}

.slider-area {
    background-color: #ffb800;
    padding: 50px 0 100px;
    position: relative;
    margin: 64px 0;
}

.img-area {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}

.img-area img {
    width: 100%;
    position: relative;
    bottom: 50px;
}

.carousel-caption {
    position: relative;
    top: 8em;
}

.contact {
    background-color: black;
}

.footer {
    background-color: rgb(0, 0, 0);
}
